{% extends 'base.html.twig' %}

{% block title %}Collabs
{% endblock %}

{% block body %}


	<section class="bg-light">
		<div class="container">
			<div class="row">
				<div class="col-12 mt-5">
					<h1 class="text-left fw-bold mt-5 mb-5">
						Articles Populaires</h1>
				</div>
				{% for i in 0..3 %}
					{% set article_number = articles[i] %}
					<div class="col-3 mb-5">
						<div class="card bestArticles mb-2" style="width: 16rem; height: 17rem;">
							<img src="{{article_number.urlToImage}}" class="card-img-top" style="max-height: 8rem;" alt="...">
							<div class="card-body">
								<h5 class="card-title text-black-50 my-2">
									{{article_number.author}}
								</h5>
								<p class="card-text fw-bold">{{article_number.title}}</p>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>


	<div class="container mt-5">
		<div class="row">
			<div class="col-12">
				<h1 class="fw-bold mt-5 mb-5">Derniers Articles</h1>
			</div>
		</div>
		<div class="row row-cols-1 row-cols-md-3 g-4">
			{% for p in 4..18 %}
				{% set latest_article = articles[p] %}
				<div class="col mt-5">
					<div class="card h-50 border-0">
                    <a href="" class="hoverBlueColor">
						<img src="{{latest_article.urlToImage}}" class="card-img-top hoverBlueColor" style="max-height: 13rem;" alt="...">
                        </a>
						<div class="card-body">
                        <a href="" class="text-dark text-decoration-none hoverBlueColor">
							<h5 class="card-title">{{latest_article.author}}
                            </a>
								•
								<span class="text-black-50">{{latest_article.publishedAt|date("d/m/Y")}}</span>
							</h5>
                            <a href="" class="text-dark text-decoration-none hoverBlueColor">
							<h5 class="card-title hoverBlueColor">{{latest_article.title | u.truncate(100, '...')}}</h5>
							<p class="card-text hoverBlueColor">{{latest_article.description | u.truncate(100, '...')}}</p>
                            </a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	{% endblock %}
